<link href="~/Content/stylesheet.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h2 {
            font-family: Times New Roman;
            font-size: 50px;
            color: white;
        }

        address {
            font-family: Times New Roman;
            font-size: 20px;
            color: white;
        }
    </style>
</head>
<body>

    <h2>Contact</h2>
    <address>
        Caulfield Campus<br / >
        Monash University<br / >
        Phone: 061 12345678
    </address>

    <address>
        <strong> Support:</strong> <a href="mailto:Support@example.com"> Support@example.com</a> <br / >
        <strong> Marketing:</strong> <a href="mailto:Marketing@example.com"> Marketing@example.com</a>
    </address>
</body>
</html>